@use "../../style/StyleImport.scss" as import;

.FooterItem {
	flex-shrink: 0;
	&.position {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.FooterItem__container {
		max-width: 1125px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		.FooterItem__description {
			&--style {
				@include import.KarlaNormal(#212121, 18px);
			}
			&--white {
				@include import.KarlaNormal(#f2f2f2, 18px);
			}
		}
	}
}
