@use "../../style/StyleImport.scss" as import;
.HomeContent {
	padding-top: 90px;
	flex-grow: 1;
	.HomeContent__container {
		display: none;
		max-width: 1125px;
		min-height: 1px;
		height: fit-content;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
.HomeContent__title {
	.HomeContent__title--style {
		@include import.KarlaNormal(#000000, 35px);
		span {
			font-weight: bold;
		}
	}
}
.HomeContent__filter {
	width: 100%;
	.HomeContent__filter--serch {
		margin: 34px 0 36px 0;
	}
	.HomeContent__filter--dropdown {
		display: flex;
		justify-content: space-between;
		width: 50%;
	}
}
.HomeContent__content {
	.HomeContent__content--list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
